{% extends 'base.html'  %}
{% load static %}
{% block contenido %}  
{% load crispy_forms_tags %}
<main id="main">
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="section text-center">
							{% if user.is_superuser %}
                        	<form method="post" class="my-class" action= "/noticia/addCategoria/"> <!---->
                                <h1 class="mb-4 pb-3">Crear Categoría</h1>
									{% csrf_token %}
									{{form | crispy}}
                                <input type="submit" class="btn mt-4" value="Crear" />
								<a href="{% url 'index' %}" class="btn mt-4">Cancelar</a>
								
								<br></br>
								<br></br>
								<center><h1>Categorias</h1></center>
								<br></br>
								{% for c in categorias %}
									<h4>Categoria: {{ c.nombre}}</h4>
									<a  class='btn' href="{% url 'Eliminar-Categoria' c.id %}">Eliminar</a>
								
								{% endfor %}
                            </form>

							
								
							{% else %}
								<strong>  Usted no tiene los permisos necesarios para realizar esta acción</strong>	
							{% endif %}	
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</main><!-- End #main -->
{% endblock %}