{% extends 'base.html'  %}
{% load static %}
{% block contenido %}  
{% load crispy_forms_tags %}
<main id="main">
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="section text-center">
							{% if user.is_superuser %}
                            <form method="post" class="my-class" action= "/noticia/addNoticia/"> 
                                <h1 class="mb-4 pb-3">Crear Noticia</h1>
									{% csrf_token %}
									{{form | crispy}}
                                    <input type="submit" class="btn mt-4" value="Crear Noticias" /> <a href="{% url 'Listar-Noticia' %}" class="btn mt-4">Cancelar</a>
                            </form>
							
							{% else %}
							<strong>  Usted no tiene los permisos necesarios para realizar esta acción</strong>	
							{% endif %}
						</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</main><!-- End #main -->
{% endblock %}