{% extends 'base.html'  %}
{% load static %}
{% block contenido %}  
{% load crispy_forms_tags %}
  <body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="section text-center">
                            <form method="post" class="my-class"> 
                                <h4 class="mb-4 pb-3">Eliminar Noticia</h4>
                                     <h6 class="mb-0 pb-3"><span>¿Esta seguro que desea eliminar la publicación: {{object.titulo}}?</span></h6>
										{% csrf_token %}
										{{form | crispy}}
                                    	<input type="submit" class="btn mt-4" value="Eliminar" />
                            </form>
							<a href="{% url 'index' %}" class="btn mt-4">Cancelar</a>
                        </div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
  </body>
{% endblock %}