{% extends 'base.html'  %}
{% block contenido %}
  <main id="main">
    <section>
      <div class="container">
        <div class="row">
              <div class="col-md-9" data-aos="fade-up">
                <h3 class="category-title">Noticias</h3>
                {% if noticia %}
                  {% for p in noticia %}  
                    <div class="d-md-flex post-entry-2 half">
                      <a href="/noticia/detail/{{p.pk}}" class="me-4 thumbnail">
                        <img src="{{p.imagen.url}}" alt="" class="img-fluid">
                      </a>
                      <div>
                        <div class="post-meta"><span class="date">{{p.categoria}}</span> <span class="mx-1">&bullet;</span> <span>{{p.fecha}}</span></div>
                        <h3><a href="/noticia/detail/{{p.pk}}">{{p.titulo}}</a></h3>
                        <p>{{p.texto}}</p>
                        <div class="d-flex align-items-center author">
                          <div class="photo"><img src="{{p.autor.imagen.url}}" alt="" class="img-fluid"></div>
                          <div class="name">
                            <h3 class="m-0 p-0">{{p.autor}}</h3>
                          </div>
                        </div>
                
                        {% if user.is_superuser %}
                        <div class="name">
                          <ul>
                            <li><a href="/noticia/updateNoticia/{{p.pk}}">Editar</a></li>
                            <li><a href="/noticia/eliminarNoticia/{{p.pk}}">Eliminar</a></li>
                          </ul>
                        </div>                       
                       {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                  {% else %}
                    <h1>Aquí no paso nada caballeros</h1>
                {% endif %}
              </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">
              
            <div class="aside-block">
              <h3 class="aside-title">Categorias</h3>
              {% if categoria %}
                  {% for c in categoria %}
                      <ul class="aside-links list-unstyled">
                          <li><a href="/noticia/listarCategoria/{{c.nombre}}"><i class="bi bi-chevron-right"></i> {{c.nombre}}</a></li>
                      </ul>
                  {% endfor %}
              {% else %}
                  <h1>Aquí no paso nada caballeros</h1>
              {% endif %}
            </div><!-- End Categories -->

          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
{% endblock %}
  