{% comment %} {% extends 'base.html'  %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
{% if user.is_superuser %}  

    
    <center><h2>Comentarios</h2></center>
    <br></br>
    <br></br>
    {% if comentarios %}
        
        {% for c in comentarios %}
            
            <form method="post" class="my-class"> 
                <h6 class="mb-0 pb-3"><span>¿Esta seguro que desea eliminar el comentario: <br>{{c.comentario}}?</span></h6>
                <h6 class="mb-0 pb-3"><span>¿Esta seguro que desea eliminar el noticia: {{c.noticia.id}}?</span></h6>
                <h6 class="mb-0 pb-3"><span>¿Esta seguro que desea eliminar el usuario: {{c.usuario.nombre}}?</span></h6>
                {% csrf_token %}
                {{form|crispy}}
                <a  class='btn' href="{% url 'Eliminar-Comentario' c.id %}">Eliminar</a>
                <br></br>
            </form>
        {% endfor %}
        <br></br>
    {% endif %}


{% endif %}    
{% endblock %} {% endcomment %}
