{% extends 'base.html'  %}
{% block contenido %}
{% load static %}
{% if noticia %}
<main id="main">

  <section class="single-post-content">
    <div class="container">
      <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->

            <div class="single-post">
              <div class="post-meta"><span class="date">{{noticia.categoria}}</span> <span class="mx-1">&bullet;</span> <span>{{noticia.fecha}}</span></div>
              <h1 class="mb-5">{{noticia.titulo}}</h1>
              <p><span class="firstcharacter"></span>{{noticia.texto}}</p>

              <figure class="my-4">
                <img src="{{noticia.imagen.url}}" alt="" class="img-fluid">
              </figure>

            </div><!-- End Single Post Content -->

            <!-- ======= Comments ======= -->
            
          <div class="comments">
            <h5 class="comment-title py-4">Comentarios</h5>
            {% if comentarios %}
            {% for coment in comentarios %}
            {% if coment.noticia.id == noticia.id %}                        
            <div class="comment d-flex mb-4">
              <div class="flex-shrink-0">
                <div class="avatar avatar-sm rounded-circle">
                  {% if coment.autor.imagen.url %}
                    <img class="avatar-img" src="{{coment.autor.imagen.url}}" alt="" class="img-fluid">
                  {%  else  %}
                    <img class="avatar-img" src="{% static 'usuario/logouser.png' %}" alt="" class="img-fluid">
                  {% endif %}
                </div>
              </div>
              <div class="flex-grow-1 ms-2 ms-sm-3">
                <div class="comment-meta d-flex align-items-baseline">
                  <h6 class="me-2">{{  coment.autor }}</h6>
                  <span class="text-muted">{{ coment.fecha }}</span>
                </div>
                <div class="comment-body">
                  {{  coment.comentario }}

                  {% if user.is_superuser %}
                  <div class="name">
                    <ul>
                      <li><a href="{% url 'Eliminar-Comentario' coment.id %}">Eliminar</a></li>
                    </ul>
                  </div>                       
                 {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}            
            {% else %}
            <a>No hay comentarios</a>
            {% endif %}
          </div>
             <!--======= End Comments ======= -->

            <!-- ======= Comments Form ======= -->            
            
            {% if user.is_authenticated %}
              <div class="row justify-content-center mt-5">
                <div class="col-lg-30">
                  <h3 class="comment-title">Deje su comentario</h3>
                  
                    {% include 'comentario/addComment.html' %}
                  
                </div>
              </div>
            {% else %}
              <br>
              <h5 class="comment-title">Para poder comentar debe iniciar sesión</h5>
              <a class="btn btn-outline-secondary" href="{% url 'apps.usuario:login' %}" >Iniciar Sesión</a>
              <a class="btn btn-outline-secondary" href="{% url 'apps.usuario:Registro-Usuario' %}" >Registrarse</a>
            {% endif %}
            <!-- End Comments Form -->

          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">
              
              <div class="aside-block">
                <h3 class="aside-title">Categorias</h3>
                {% if categorias %}
                {% for item in categorias %}
                    <ul class="aside-links list-unstyled">
                        <li><a href="/noticia/listarCategoria/{{item.nombre}}"><i class="bi bi-chevron-right"></i> {{item.nombre}}</a></li>
                    </ul>
                {% endfor %}
                {% else %}
                    <h1>Aquí no paso nada caballeros</h1>
                {% endif %}
              </div><!-- End Categories -->
              
              
            </div>

          </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endif %}
{% endblock %}
