{% extends 'base.html'  %}
{% load static %}
{% block contenido %}  
{% load crispy_forms_tags %}
<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="section text-center">
							{% if user.is_authenticated %}
							<p>En este momento hay una sesión activa, para ingresar con otra cuenta primero debe cerrar la sesión actual.</p>	
							<a  href="{% url 'apps.usuario:logout' %}"class="btn mt-4">Cerrar sesión</a>

							{% else %}							
                            <form method="post" class="my-class" action= "/ingresar/login/"> <!---->
                            	<h4 class="mb-4 pb-3">Ingresar</h4>
									{% csrf_token %}
									{{form | crispy}}
                                    <input type="submit" class="btn mt-4" value="Iniciar Sesión" />

                            </form>
								<a href="{% url 'index' %}" class="btn mt-4">Cancelar</a>
                                <p class="mb-0 mt-4 text-center"><a href="{% url 'password_reset' %}" class="link">¿Olvidaste tu contraseña?</a></p>							
							{% endif %}
						</div>
					</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</body>
{% endblock %}  