{% extends 'base.html'  %}
{% load static %}
{% block contenido %}  
{% load crispy_forms_tags %}
<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="section text-center">
							{% if user.is_authenticated %}
								<p>Actualmente existe una sesión abierta, para salir apriete el boton que se ecuentra abajo</p>                            
								<a class="btn mt-4" href="{% url 'apps.usuario:logout' %}">Cerrar Sesión</a>
                            {%else%}
                                {% if validlink %}
                                <h4 class="mb-4 pb-3">Restaurar contraseña</h4>
                                <p>Por favor introduzca su nueva contraseña dos veces de manera que podamos verificar que la ha escrito correctamente</p>
                                <form action="" method="post">
                                    <div style="display:none">
                                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                    </div>
                                    {{form | crispy}}
                                        <tr>
                                            <td></td>
                                            <td><input type="submit" class="btn mt-4" value="Cambiar contraseña" /></td>
                                        </tr>
                                    </table>
                                </form>
                                    <a href="{% url 'index' %}" class="btn mt-4">Cancelar</a>
                                {% else %}
                                    <h1>El restablecimiento de la contraseña falló</h1>
                                    <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>
                                {% endif %}                   
                            {%endif%}
						</div>
					</div>
		      	</div>
	      	</div>
	    </div>
	</div>
  </body>
{% endblock %}