{% extends "base.html" %}
{% load static %}

{% block contenido %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/01.png' %});">
<!--  "{% static 'layout/styles/layout.css' %}" PARA COMPARAR PORQUE SALE ERROR DONDE DICE IMAGES ARRIBA--> 
  <div class="overlay">
    <section id="pageintro" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-80">
        <h2 class="heading xxl uppercase btmspace-30">BIENVENIDXS</h2>
        <p class="xl nospace capitalise">FUNDACIÓN UOCRA</p>
      </div>
      <ul class="nospace group services" id="servicios">

        {% for p in noticia %}
        <li class="one_third">
          <article class="overlay"><a href="#"><i class="fa fa-laptop"></i></a>
            <h6 class="heading"> {{ p.titulo }}</h6>
            <p> {{ p.texto }} </p>
            <p> {{ p.fecha }} </p>
            <footer><a href="{{ noticia.enlace }}">Read More &raquo;</a></footer>
          </article>
        </li>
        {% endfor %}
        
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first"><img src="{% static 'img/logoUOCRA.png' %}" alt=""></div>
      <div class="two_third">
        <h2 class="heading">¿Quienes Somos?</h2>
        <p>La Fundación UOCRA es una ONG que pertenece a la Red Social UOCRA.Nació en octubre de 1993 bajo el nombre de Fundación de Educación y Capacitación para los Trabajadores de la Construcción (FEyCTC) pero en 2007 cambió a la denominación actual.
          Más de 25 años de trabajo dedicados a la educación de los trabajadores y las trabajadoras de la industria nos consolidaron como una institución que, además de gestionar proyectos y programas de formación profesional, impulsa diversas políticas e iniciativas para que sean discutidas en las agendas públicas que atienden las problemáticas de la educación – trabajo.</p>
        <p class="btmspace-80">La UOCRA, conducida por su secretario general, Gerardo Martínez, sentó las bases de lo que hoy se conoce como la “Red Social UOCRA”, integrada por la Fundación UOCRA y otras instituciones,. Esta red brinda a los trabajadores y las trabajadoras del sector una contención que va mucho más allá de la discusión salarial, ya que atiende problemáticas de salud, de niñez, de educación, de empleo, de vivienda y de cultura, entre otras.</p>
        <ul class="nospace group">
          <li class="one_third first">
            <h6 class="nospace btmspace-10"><a href="#"><i class="fa fa-location-arrow"></i> Praesent neque</a></h6>
            <p class="nospace">Mauris consectetur vel tellus quis consectetur&hellip;</p>
          </li>
          <li class="one_third">
            <h6 class="nospace btmspace-10"><a href="#"><i class="fa fa-lock"></i> Integer tinciduntt</a></h6>
            <p class="nospace">Mauris consectetur vel tellus quis consectetur&hellip;</p>
          </li>
          <li class="one_third last">
            <h6 class="nospace btmspace-10"><a href="#"><i class="fa fa-map-marker"></i> Aliquam mauris</a></h6>
            <p class="nospace">Mauris consectetur vel tellus quis consectetur&hellip;</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <section id="info" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h2 class="heading uppercase btmspace-30">Noticias</h2>
      <p class="lrspace">En un entorno incierto y complejo, los cambios tecnológicos son profundos y acelerados así como también las nuevas formas de organización empresarial. Las modificaciones sociales, laborales y productivas, transforman las ocupaciones y exigen nuevos saberes, tanto para las organizaciones como para los trabajadores y las trabajadoras. Ya habitamos el futuro del trabajo y aquí los procesos formativos son permanentes a lo largo de la vida de las personas; proporcionan capacidades, conocimientos, valores y habilidades apuntando a la inclusión social, el desarrollo social y económico de cada una y cada uno. Educar hoy implica democratizar el acceso a la tecnología en la formación virtual y promover la adquisición y actualización de competencias digitales para los y las trabajadoras.</p>
    </div>
    <div class="group">
      <div class="one_half first"><img src="{% static 'img/meme.png' %}" alt=""></div>
      <div class="one_half">
        <ul class="nospace group services">
          <li>
            <article><a href="#"><i class="fa fa-asterisk"></i></a>
              <h6 class="heading">Ut pharetra nisi eu massa</h6>
              <p>Nunc nec tincidunt turpis sed feugiat dui vestibulum euismod nunc sed vestibulum interdum&hellip;</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </article>
          </li>
          <li>
            <article><a href="#"><i class="fa fa-bar-chart"></i></a>
              <h6 class="heading">Pellentesque neque porttitor</h6>
              <p>Maecenas luctus sed nulla ac faucibus cras pellent esque neque vitae tincidunt tempus&hellip;</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </article>
          </li>
          <li>
            <article><a href="#"><i class="fa fa-paper-plane-o"></i></a>
              <h6 class="heading">Nulla lobortis ultrices nibh</h6>
              <p>Quisque sit amet tellus nunc praesent nunc augue, eleifend ac consequat sed egestas eu nunc&hellip;</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const product = document.getElementById("servicios");
  const primero = product.firstElementChild;
  const ultimo = product.lastElementChild;
  primero.classList.add("first");
  ultimo.classList.add("last");
</script>

{% endblock %}